
<header class="main-header">
  <a href="/" class="logo">
    <span class="logo-mini"><b>L</b>B</span>
    <span class="logo-lg"><b>Light</b>Book</span>
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu <%= show_controls ? '' : 'hidden' %>">
      <ul class="nav navbar-nav">
        <li>
          <a href="services/new" data-widget="add_client">Add Service <i class="fa fa-plus icon-text-left"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>