<div id="confirmation" class="modal modal-warning fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are you sure you want to deactivate this service?</h4>
      </div>
      <div class="modal-body">
        <p>No one will be able to book this service. <br/>
          <strong>Any service can be reactivated.</strong></p>
      </div>
      <div class="modal-footer">
        <a id="deactivate_service" type="button" class="btn btn-success" href="clients/">Yes, Deactivate Service</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No, Don't Deactivate Service</button>
      </div>
    </div>

  </div>
</div>