<%= render :partial => 'menu', :locals => {:show_controls => false} %>
<%= render :partial => 'layouts/menu', :locals => {:active_menu_item => 7} %>

<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Edit a services
      <small>Edit a service already in the system</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="services"><i class="fa fa-users"></i> Services</a></li>
      <li><a href="#">Edit a service</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Service Details</h3>
      </div>
      <%= render :partial => 'form', :locals => {:id => params[:id]} %>
    </div>
  </section>
</div>