<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Front End
      <small>Book here</small>
    </h1>
  </section>
  <section class="content">
   <h1>HEY</h1>
  </section>
</div>