<style>
  #banner {
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: #645862;

    /*background-image: url("../../assets/frontend/css/images/light-bl.svg"), url("../../assets/frontend/css/images/light-br.svg"), url("../../assets/frontend/css/images/overlay.png"), url("https://images.bigcartel.com/bigcartel/theme_images/7812763/-/Banner-thin.jpg");*/
    background-image: url("../../assets/frontend/css/images/light-bl.svg"), url("../../assets/frontend/css/images/light-br.svg"), url("../../assets/frontend/css/images/overlay.png"), url("../../assets/frontend/css/images/banner2.jpg");
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
    color: #fff;
    cursor: default;
    padding: 6em 0;
    text-align: center;
  }
</style>

<section id="banner">


  <div class="inner" style="padding-left:0px; padding-right: 0px; padding-top: 0px">


    <img src="../../assets/frontend/css/images/logo.jpg" style="height: 300px; width:300px" />
    <br />
    <br />
    <p style="font-family: colleged">
      We are <strong>Badass Barbers</strong> <br />
      <br />
      We craft manliness
    </p>
    <footer>
      <ul class="buttons vertical">
        <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
      </ul>
    </footer>

  </div>

</section>


<header class="special container" style="padding-top:10px">
  <div class="col-lg-5 col-md-4 col-xs-12 double-line"></div><div class="col-lg-2 col-md-4 col-xs-12 text-center"><img src="../../assets/frontend/css/images/logo_2.png" style="height: 100px; width:100px" /></div><div class="col-lg-5 col-md-4 col-xs-12 double-line"></div>
  <br /><br /><br /><br /><br /><br />
  <h2>
    Finally... A barbershop for <strong>REAL MEN</strong>
    <br>
    Badass Barbers - A place you can come to have your hair cut and beard trimmed by <strong>real</strong> professionals!
  </h2>
  <p>
    We established our awesome brand in early 2015 - Passion and a need for change stemmed growth and possibility. We style and cut like they used to back in the good old days, proper barber chairs, cut throat razors and good old scissors. With authenic and retro styling we're sure you'll feel right at home here with us while getting your beard on!
  </p>
</header>

<section class="wrapper style2 container special-alt">
  <div class="row 50%">
    <div class="8u 12u(narrower)">

      <header>
        <h2>Easy Booking</h2>
      </header>
      <p>No matter where you are you can access our secure online booking system, mobile, tablet or laptop we've got you covered! - Simply signup and select a date and time when you want to get your look updated and hey presto! If you don't have access to a computer you can call to make a booking or come straight to our door step! </p>
      <br />
      <strong>Contact 1: </strong> 000 000 0000 <br />
      <strong>Contact 2: </strong> 000 000 0000 <br />
      <strong>Contact 3: </strong> 000 000 0000 <br />
      <!--<footer>
          <ul class="buttons">
              <li><a href="#" class="button">Find Out More</a></li>
          </ul>
      </footer>-->

    </div>
    <div class="4u 12u(narrower) important(narrower)">

      <ul class="featured-icons">
        <li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
        <li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
        <li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
        <li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
        <li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
        <li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
      </ul>

    </div>
  </div>
</section>


<section class="wrapper style1 container special">
  <div class="row">
    <div class="4u 12u(narrower)">

      <section>
        <span class="icon featured fa-check"></span>
        <header>
          <h3>Mens haircuts</h3>
        </header>
        <p>Treat yourself to that perfect man's man look. With our professional barbers you won't be able to stay away after your first cut.</p>
      </section>

    </div>
    <div class="4u 12u(narrower)">

      <section>
        <span class="icon featured fa-check"></span>
        <header>
          <h3>Bearding trimming / grooming</h3>
        </header>
        <p>Tired of getting the trim wrong and having to shave? Come to us and our beard experts will take care of all of that for you for that perfect beard look.</p>
      </section>

    </div>
    <div class="4u 12u(narrower)">

      <section>
        <span class="icon featured fa-check"></span>
        <header>
          <h3>Products</h3>
        </header>
        <p>Can't find your favourite beard oil or hair cream? Don't worry, just come to Badass Barbers and check out our selection of natural beard oils, shaving creams and hear products.</p>
      </section>

    </div>
  </div>
</section>


<section class="wrapper style3 container special">

  <header class="major">
    <h2>Take a look at our <strong>gallery</strong></h2>
  </header>

  <div class="row">
    <div class="6u 12u(narrower)">

      <section>
        <a href="#" class="image featured"><img src="../../assets/frontend/css/images/pic01.jpg" alt="" /></a>
        <header>
          <h3>A Really Fast Train</h3>
        </header>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
      </section>

    </div>
    <div class="6u 12u(narrower)">

      <section>
        <a href="#" class="image featured"><img src="../../assets/frontend/css/images/pic02.jpg" alt="" /></a>
        <header>
          <h3>An Airport Terminal</h3>
        </header>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
      </section>

    </div>
  </div>
  <div class="row">
    <div class="6u 12u(narrower)">

      <section>
        <a href="#" class="image featured"><img src="../../assets/frontend/css/images/pic03.jpg" alt="" /></a>
        <header>
          <h3>Hyperspace Travel</h3>
        </header>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
      </section>

    </div>
    <div class="6u 12u(narrower)">

      <section>
        <a href="#" class="image featured"><img src="../../assets/frontend/css/images/pic04.jpg" alt="" /></a>
        <header>
          <h3>And Another Train</h3>
        </header>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
      </section>

    </div>
  </div>

  <footer class="major">
    <ul class="buttons">
      <li><a href="#" class="button">See More</a></li>
    </ul>
  </footer>

</section>




<section id="cta">

  <header>
    <h2>Ready to do <strong>something</strong>?</h2>
    <p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
  </header>
  <footer>
    <ul class="buttons">
      <li><a href="#" class="button special">Another Button</a></li>
      <li><a href="#" class="button">Call to action</a></li>
    </ul>
  </footer>

</section>


<footer id="footer">

  <ul class="icons">
    <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
    <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
    <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
  </ul>

  <ul class="copyright">
    <li>&copy; Matthew Barnard</li>
    <li>Design: <a href="mailto:msbarnard10@gmail.com">Matthew Barnard</a></li>
  </ul>

</footer>